@import './stylesheets/config/config';

.home {
  background-color: #0077c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  animation: fadeInDown 1s ease-in-out;
}

.button {
  font-size: 1.5rem;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}